html{
	background: linear-gradient(#0087FF,#0042FF);
	background-repeat: no-repeat;
	height: 100%;
	font-family: Verdana ,sans-serif;
}

body{
	margin: auto;
}

.box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

form{
	background-color: #fff;
	width: 350px;
	padding: 30px;
	padding-bottom: 40px; 
	border-radius: 20px;
	transition: .4s;
}

form:hover{
	box-shadow: 0 25px 65px rgba(0,0,0,.3);
}

a{
	text-decoration: none;	
}

a i{
	display: block;
	font-size: 12px;
	color: #9FACCF;
	transition: .6s;
}

a i:hover{
	color: #0061FF;
	text-decoration: underline;
	transition: .6s;
}

h1{
	font-family: Century Gothic;
	font-weight: bold;
}

label{
	float: left;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 14px;
}

label, h1{
	color: #333333;
}

#btn{
	width: 100%;
	height: 40px;
	color:#0086FF;
	background-color: #FFF;
	border: 1px solid #ccc;
	border-radius: 30px;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 20px;
	transition: .4s;
}

#btn:hover{
	background-color: #0086FF;
	color: #FFF;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

#mail, #pass{
	border-radius: 30px;
	width: 100%;
	height: 10px;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #ccc;
	transition: .4s;
}

#mail:hover, #pass:hover{
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    transition: .4s;
}

#mail:focus, #pass:focus{
	border: 1px solid #0061FF;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    transition: .4s;
}

