html{
	background: linear-gradient(#0087FF,#0042FF);
	height: 100%;
}

body{
	margin: auto;
	font-family: sans-serif;
	color: white;
}

form{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

input{
	width: 300px;
	height: 60px;
	color:#0061FF;
	background-color: #EFE;
	border: none;
	border-radius: 30px;
	font-size: 18px;
	transition: .4s;
}

input:hover{
	background-color: rgba(0,0,0,.3);
	color: #fff;
	cursor: pointer;
	box-shadow: 0 10px 25px rgba(0,0,0,.3);
	border: 1px solid #fff;
}

a{
	text-decoration: none;	
}

a i{
	display: block;
	padding: 16px;
	font-size: 12px;
	color: #9FACCF;
	transition: .5s;
}

a i:hover{
	color: #fff;
	transition: .5s;
}

h1{
	font-family: Century Gothic;
	font-size: 3em;
}

p{
	line-height: 26px;
	font-family: Verdana;
	font-size: 14px;
}

.admin{
	width: 40px;
	height: 37px;
	margin-top: 30px;
	margin-right: 30px;
	padding: 5px;
	border-radius: 40px;
	float: right;
	text-align: center;
	opacity: 0;
	transition: .5s;
}

.admin a{
	text-decoration: none;
	top: 14px;
	color: #0082FF;
	transition: .3s;
}

.admin a:hover{
	color: #0067CE;
	transition: .3s;
}

.admin:hover a{
	color: #0067CE;
	transition: .3s;
}

.admin:hover{
	background-color: #fff;
	box-shadow: 0 5px 18px rgba(0,0,0,.3);
	transition: .3s;
	opacity: 1;
}