body{
			margin: auto;
		}

		html{
			background: linear-gradient(#0087FF,#0042FF);
			background-repeat: no-repeat;
			height: 100%;
			font-family: sans-serif;
		}

		.box{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			background-color: #fff;
			width: 450px;
			padding: 30px;
			padding-bottom: 40px; 
			border-radius: 20px;
			transition: .4s;
		}

		h1{
			text-align: center;
			font-family: Century Gothic;
		}

		.box:hover{
			box-shadow: 0 25px 65px rgba(0,0,0,.3);
		}

		label{
			font-weight: bold;
			font-size: 14px;
		}

		label, h1{
			color: #333333;
		}

		#col-label{
			width: 200px;
		}

		tr{
			height: 50px;
		}

		#champ{
			width: 250px;
			border-radius: 30px;
			height: 10px;
			padding: 10px;
			border: 1px solid #ccc;
			display: inline;
		}

		#champ:hover{
			border: 1px solid #ccc;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
		    	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
		    transition: .4s;
		}

		#champ:focus{
			border: 1px solid #0061FF;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
		    	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
		    transition: .4s;
		}

		input[type="file"]{
			width: 300px;
			margin-right: 50px;
		}

		#import-btn{
			width: 150px;
			background-color: #0086FF;
			border: none;
			height: 40px;
			border-radius: 10px;
			color: #fff;
			transition: .4s;
			margin-left: 150px;
		}

		#import-btn:hover{
			background-color: #0046FF;
		}

		button{
			width: 100%;
			height: 40px;
			color:#0086FF;
			background-color: #FFF;
			border: 1px solid #ccc;
			border-radius: 30px;
			font-size: 18px;
			margin-top: 20px;
			transition: .4s;
		}

		button:hover{
			background-color: #0086FF;
			color: #FFF;
			border-style: none;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
		    	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
		}

		.preview-box{
			height: 275px;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: space-between;
		}

		.image{
		    width: 225px;
		    height: 225px;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    border: 3px solid #ccc;
		      border-radius: 50%;
		}

		.preview-box #import-btn{
			align-self: stretch;
		}

		.preview-box .image img{
			  width: 100%;
		      height: 100%;
		      border-radius: 50%;
		      object-fit: cover;
    	}