.profilBox1{
	height: 450px;
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}

.profilBox1 .imgBox{
	width: 300px;
	height: 300px;
	display: flex;
	align-items: center;
	border: 5px solid #fff;
	border-radius: 50%;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px;
}

.imgBox img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}

.profilBox1 span{
	text-transform: uppercase;
	text-align: center;
}

.profilBox1 #importBtn{
	position: absolute;
}